@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

.navbar {
    position: fixed;
    color: white;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 1500px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
}

.displayNone {
    display: none;
}

.account {
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
    font-family: 'Rajdhani';
    font-weight: 500;
    display: inline-block;
}

.login {
    margin-top: 30px;
    margin-right: 50px;
    cursor: pointer;
    font-family: 'Rajdhani';
    font-weight: 500;
    display: inline-block;
}

.navbar h2::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

.navbar h2:hover:after {
    width: 100%;
}

footer {
    height: 110px;
}

.message {
    font-family: 'Rajdhani';
    color: rgb(255, 255, 255);
    position: fixed;
    background-color: rgba(10, 10, 10, 0.95);
    box-shadow: 0 0 100px black;
    z-index: 2;
    border-radius: 3px;
    border: 1px solid white;
    width: 700px;
    height: 750px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
}

.displayNone {
    display: none;
}

.message form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.message form h1 {
    text-align: center;
    font-weight: 500;
}

.message form input {
    margin-bottom: 30px;
}

.message button {
    position: absolute;
    right: 0;
    margin: 25px;
}

.submit {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.message2 {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.message2 h1 {
    margin-top: 130px;
    margin-bottom: 80px;
    font-weight: 500;
}

.tick {
    margin-top: 80px;
    width: 100px;
}

.message3 {
    font-family: 'Rajdhani';
    width: 350px;
    height: 148px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px black;
}

.message3 h1 {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.message3 h2 {
    margin-top: -8px;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    color: rgb(215, 121, 255);
    background-color: rgba(233, 181, 255, 0.336);
}

.first {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .first h1 {
    text-shadow: 0 0 1vw white;
    font-family: 'Rajdhani';
    font-weight: 500;
    text-align: center;
    font-size: 3vw;
    z-index: 1;
  }
  
  .first h2 {
    font-family: 'Rajdhani';
    font-weight: 500;
    z-index: 1;
  }
  
  .gradient {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  }
  
  
  @media (min-width: 2500px) {
    .first h1 {
      font-size: 75px;
    }
  }
  
  @media (max-width: 1300px) {
    .first h1 {
      font-size: 5vw;
    }
  }
  
  @media (max-width: 800px) {
    .first h1 {
      font-size: 6vw;
    }
  }

@media (max-width: 700px) {
    .message {
        width: 100%;
    }
}

@media (max-width: 478px) {
    .message form {
        width: 85%;
    }
}